ion-col {
    display: flex;
    justify-content: center;
    padding: 4px;
}
ion-card {
    padding-top: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.open{
    background-color: #2dd36f;
}

.closed{
    background-color: #eb445a;
}