<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="space | async as data">
      {{data.space}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="space | async as data" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{space | async}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-avatar slot="start" [style.--border-radius]="32">
      <img *ngIf="data.state.open" [src]="data.state.icon.open">
      <img *ngIf="!data.state.open" [src]="data.state.icon.closed">
    </ion-avatar>
    <ion-label>
      <h2>{{data.state.message}}</h2>
      <p>Last Updated: {{data.state.lastchange * 1000 | date:'d/M/yy h:mm a'}}</p>
    </ion-label>
  </ion-item>

</ion-content>